<!-- templates/products_show.html -->
{% extends 'base.html' %}

{% block content %}
    <a href='/'>Back</a>

    <div class='image'>
        <img src={{nail_polish.image_link}} class="img-fluid" alt="Responsive image">
    </div>
    <h2>{{ nail_polish.name }}</h2>
    <h2>{{ nail_polish.brand }}</h2>
    <small>{{ nail_polish.description }}</small>
    
    {% for color in colors %}
        <svg width="100" height="100">
            <rect width="100" height="100" style="fill: rgb{{ color[0] }}; stroke-width:3; stroke: rgb{{color[0]}}" />
        </svg>
        {{ color[1] }}
    {% endfor %}

{% endblock %}