<!-- templates/products_show.html -->
{% extends 'base.html' %}

{% block content %}
    <a href='/'>Back</a>

    <div class='image'>
        <img src={{nail_polish.image_link}} class="img-fluid" alt="Responsive image">
    </div>
    <div class="words">
        <h2>{{ nail_polish.name }}</h2>
        <h2>{{ nail_polish.brand }}</h2>
        <h4>{{ nail_polish.description }}</h4>
    </div>

    {% for color in colors %}
    <div class="row" style="width: 100px; height: 100px;">
        <svg width="50" height="50">
            <rect width="50" height="50" style="fill: rgb{{ color[0] }}; stroke-width:3; stroke: rgb{{color[0]}}" />
        </svg>
        <h5>{{ color[1] }}</h5>
    </div>
    {% endfor %}

    <!-- Review form -->
    {% include 'partials/review_form.html' %}

{% endblock %}